<component name="ArtifactManager">
  <artifact type="war" name="SpringSecurityHibernateRoleBasedLoginExample:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="SpringSecurityHibernateRoleBasedLoginExample.war">
      <element id="artifact" artifact-name="SpringSecurityHibernateRoleBasedLoginExample:war exploded" />
    </root>
  </artifact>
</component>